@charset "UTF-8";

*,
*:before,
*:after {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0 none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 1;
}

ul,
li {
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: none;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadetop {
  from {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadetop {
  from {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadenomove {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadenomove {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes arrowbounce {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes arrowbounce {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

/* Cтили блока buttons */

.button {
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  background-color: #2ecc71;
  background-image: none;
  border: 0;
  -webkit-box-shadow: 0 3px 0 #029a43;
  box-shadow: 0 3px 0 #029a43;
  line-height: 1.33;
  padding: 10px 28px;
  border-radius: 3px;
  height: 55px;
}

/* Конец блока buttons */

/* Cтили блока nav */

.burger-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.burger-menu__icon {
  background-color: black;
  margin: 22px 12px;
  width: 25px;
  height: 5px;
  position: relative;
  border-radius: 5px;
}

.burger-menu__icon::before {
  content: "";
  display: block;
  width: 25px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: -10px;
  left: 0;
  border-radius: 5px;
}

.burger-menu__icon::after {
  content: "";
  display: block;
  width: 25px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 5px;
}

.menu__popup {
  position: fixed;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 11111111111111;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  left: -200%;
  opacity: 0;
}

.menu__wrap {
  padding: 50px;
  background-color: white;
  z-index: 111111111111111;
  position: relative;
}

.menu__title {
  font-size: 3.125rem;
  line-height: 4.375rem;
  margin-bottom: 45px;
  text-align: center;
  position: relative;
}

.menu__title::after {
  content: "";
  position: absolute;
  display: block;
  width: 70%;
  height: 5px;
  bottom: -10px;
  left: 0;
  background-color: #e8c762;
}

.menu__list,
.menu__item {
  list-style-type: disc;
}

.menu__item {
  padding: 20px 0;
  margin-left: 30px;
  font-size: 22px;
}

.menu__next-lesson {
  display: block;
  padding-top: 20px;
  font-size: 22px;
}

.menu__close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #000000;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.menu__close-icon {
  position: relative;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__close-icon::before {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  background-color: #fff;
  top: 14px;
  left: 5px;
}

.menu__close-icon::after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  background-color: #fff;
  position: absolute;
  top: 14px;
  left: 5px;
}

/* Конец блока nav */

/* Стили секции hello */

.hello {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  padding: 80px 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.hello .container {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

.logo-wrap {
  padding: 2.8125rem 0;
}

.hello__title {
  font-size: 3.125rem;
  line-height: 4.375rem;
  padding: 1.5625rem 0;
  text-align: center;
}

b {
  font-weight: 600;
}

.hello__start {
  padding: 2.8125rem 0 3.75rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hello__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  margin: 50px 0;
}

.hello__mail {
  height: 55px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 30px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.hello__mail:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.hello__submit {
  background-color: #2ecc71;
  background-image: none;
  border: 0;
  -webkit-box-shadow: 0 3px 0 #029a43;
  box-shadow: 0 3px 0 #029a43;
  line-height: 1.33;
  padding: 10px 28px;
  border-radius: 3px;
  height: 55px;
}

.scroll__to-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.features__pre-title {
  padding-bottom: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
}

.scroll {
  -webkit-animation: arrowbounce 1s alternate infinite;
  animation: arrowbounce 1s alternate infinite;
}

/* Стили секции hello */

/* Стили секции features */

.features__title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 75px 0 15px;
  color: #384047;
}

.features .container {
  -webkit-animation: fadetop 1s;
  animation: fadetop 1s;
}

.features__comment {
  color: #94a3a8;
  font-size: 20px;
  margin: 10px 0 40px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 50px;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.features__item:hover .features__img-wrap {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 2;
}

.features__img-wrap {
  margin-bottom: 19px;
  width: 95px;
  height: 95px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.features__name {
  color: #333;
  font-size: 20px;
  margin: 0px 0 10px;
  font-weight: 600;
}

.features__desc {
  color: #94a3a8;
  margin: 0 0 10px;
  text-align: center;
  line-height: 1.42857143;
  font-size: 14px;
  width: 230px;
  font-weight: 300;
}

/* Стили секции features */

/* Стили секции start */

.start {
  padding: 60px 0px;
  color: #fff;
  background-color: #6883cc;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.start .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-animation: fadenomove 2s;
  animation: fadenomove 2s;
}

.start__title {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  text-align: center;
}

.start__button {
  background-color: #2ecc71;
  background-image: none;
  border: 0;
  -webkit-box-shadow: 0 3px 0 #029a43;
  box-shadow: 0 3px 0 #029a43;
  line-height: 1.33;
  padding: 10px 28px;
  border-radius: 3px;
  height: 55px;
  margin: 50px 0;
}

/* Стили секции start */

/* Стили секции lesson */

.lesson {
  padding-bottom: 150px;
}

.lesson .container {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: "Open Sans", Arial, sans-serif;
  width: 900px;
  line-height: 1.33;
  -webkit-animation: bounceInRight 1s;
  animation: bounceInRight 1s;
}

.lessons .container {
  -webkit-animation: bounceInLeft 1s;
  animation: bounceInLeft 1s;
}

.lesson__content {
  padding: 100px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-weight: 300;
  line-height: 24px;
}

.lesson__chapter {
  line-height: 1;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 18px;
}

.lesson__chapter-name {
  font-size: 36px;
  line-height: 54px;
  color: #222222;
  font-weight: 800;
  position: relative;
  margin-bottom: 100px;
}

.lesson__chapter-name::after {
  content: "";
  position: absolute;
  display: block;
  width: 70%;
  height: 5px;
  bottom: -20px;
  left: 0;
  background-color: #e8c762;
}

.lesson__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding-bottom: 85px;
}

.lesson__video iframe {
  border-radius: 15px;
}

.lesson__materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.lesson__material {
  padding: 15px 0;
  font-size: 18px;
  line-height: 24px;
  color: #222222;
}

.lesson__material:first-child {
  padding-top: 50px;
}

.lesson__item {
  padding: 10px 0;
  font-size: 18px;
}

.lesson__item:first-child {
  padding-top: 20px;
}

i {
  font-family: Verdana, sans-serif;
  font-weight: 700;
}

.lesson__title {
  font-size: 36px;
  line-height: 54px;
  color: #222222;
  font-weight: 800;
  position: relative;
  margin: 50px 0;
}

.lesson__title::after {
  content: "";
  position: absolute;
  display: block;
  width: 70%;
  height: 5px;
  bottom: -20px;
  left: 0;
  background-color: #e8c762;
}

.lesson__img {
  padding: 20px 0;
}

.no_padding {
  padding: 0;
}

.next-lesson {
  background-image: url(../img/header2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.end {
  position: relative;
}

.end:before {
  content: "Следующий урок в разработке";
  display: block;
  position: absolute;
  top: -50px;
  left: -40px;
  font-size: 20px;
  color: #fff;
}

.prev {
  background-color: #e8c762;
  -webkit-box-shadow: 0 3px 0 #e8c762;
  box-shadow: 0 3px 0 #e8c762;
  margin-right: 50px;
}

.lesson1 {
  background-image: url("../img/header2.jpg");
}

.lesson2 {
  background-image: url("../img/header3.jpg");
}

/* Стили секции lesson */

/* Стили секции fotter */

.footer {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 100% 150%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100px;
  z-index: 11;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer__logo-wrap {
  width: 80px;
  padding-right: 10px;
  height: 80px;
  margin-top: 10px;
}

.footer__title {
  color: #fff;
  font-size: 30px;
  padding-bottom: 12px;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 0.875rem;
}

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer__socials-item {
  margin-right: 1rem;
}

.footer__socials-item:last-child {
  margin-right: 0rem;
}

.footer__telephone {
  text-decoration: none;
  position: relative;
  margin-bottom: 20px;
  display: block;
}

.footer__telephone-number {
  color: #fff;
  display: block;
  padding-left: 1.375rem;
  font-size: 20px;
}

.footer__telephone-svg {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 2px;
  left: 2px;
  fill: #fff;
}

.footer__socials-link {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: block;
}

.social__svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #525252;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.footer__socials-link:hover .social__svg {
  fill: #fff;
}

/* Стили секции lesson */

@media (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 960px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */
